/** HEADER **/
#header-nav {
    background-color: #5194be;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    padding-top: 13px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #e1e8dd;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.myitems {
 border: 2px solid black;
 background-color: aqua;
 margin: 20px;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

